*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* test */
.Header {
  background-color:#302E2E;
  color:white;

}

.Header h1{
text-align: center;
padding: 20px 0 10px 0;
}

.Nav__Header ul{
  display: flex;
  justify-content: center;
  list-style: none;
  gap:20px;
  padding-bottom:38px;
}

/* Content */

.container {
text-align: center;
} 
.container h1{
padding:25px;
font-size: 25px;
} 

.container button{
  background-color:#302E2E;
  border: none;
  padding:10px 20px;
  margin: 15px;
  color:white;
}

.container .item ul{
  line-height: 30px;
}

/* Footer */
.Footer{
  margin-top: 25px;
  text-align: center;
  color:gray;
}

